	/* Google Fonts */
	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

	* {
	    margin: 0;
	    padding: 0;
	    font-family: "Poppins", sans-serif;
	    box-sizing: border-box;
	    scroll-behavior: smooth;
	    scroll-padding-top: 2rem;
	    list-style: none;
	    text-decoration: none;
	}

	*::selection {
	    background: var(--main-color);
	    color: #fff;
	}

	:root {
	    --main-color: #ffb411;
	    --text-color: #1e1c2a;
	    --bg-color: #fff;

	    --big-font: 4rem;
	    --h2-font: 2.24rem;
	    --p-font: 0.9rem;
	}

	section {
	    padding: 0 10%;
	}

	body.active {
	    --bg-color: #1e1c2a;
	    --text-color: #fff;
	}

	body {
	    color: var(--text-color);
	    background: var(--bg-color);
	}

	#darkmode {
	    font-size: 25px;
	    cursor: pointer;
	}

	header {
	    position: fixed;
	    width: 100%;
	    top: 0;
	    right: 0;
	    z-index: 1000;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    background: var(--bg-color);
	    padding: 18px 10%;
	    box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
	}

	.logo {
	    font-size: 1.2rem;
	    font-weight: 600;
	    color: var(--main-color);
	}

	.navbar {
	    display: flex;
	}

	.navbar a {
	    font-size: 1rem;
	    padding: 10px 20px;
	    color: var(--text-color);
	    font-weight: 500;
	}

	.navbar a:hover {
	    color: var(--main-color);
	}

	.home {
	    width: 100%;
        margin-top: 64.5px;
	    height: calc(100vh - 64.5px);
	    display: grid;
	    grid-template-columns: repeat(2, 1fr);
	    align-items: center;
	    gap: 1.5rem;
	}

	.home-text h1 {
	    font-size: var(--big-font);
	    color: var(--main-color);
	}

	.home-text h2 {
	    font-size: var(--h2-font);
	}

	.btn {
	    display: inline-block;
	    background: var(--main-color);
	    padding: 10px 20px;
	    border-radius: 0.5rem;
	    color: #fff;
	}

	.btn:hover {
	    background: #ffa400;
	}

	.about {
	    display: grid;
	    grid-template-columns: repeat(2, 1fr);
	    gap: 1.5rem;
	    align-items: center;
        margin-top: 102px;
	}

	.about-img img {
	    width: 100%;
	}

    .about-text {
        padding-left: 20px;
    }

	.about-text span {
	    color: var(--main-color);
	    font-weight: 500;
	}

	.about-text h2 {
	    font-size: var(--h2-font);
	}

	.about-text p {
	    margin-top: 15px;
	}

	.heading {
	    text-align: center;
	}

	.heading span {
	    color: var(--main-color);
	    font-weight: 500;
	}

	.heading h2 {
	    font-size: var(--h2-font);
	}

	.copyright {
	    padding: 20px;
        margin-top: 102px;
	    text-align: center;
        background-color: #EEE;
	}

    .copyright p {
        background-color: #EEE;
        margin-top: 0;
        text-align: center;
    }