#overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 8888;
    background-color: rgb(0 0 0 / .5);
    display: grid;
    place-items: center;
    display: none;
}

#open-modal, #preferences-modal {
    background-color: #EEE;
    width: 320px;
    height: 280px;
    padding: 15px;
    border-radius: 10px;
    display: none;
    place-items: center;
}

.open-form, #preferences-form {
    height: 265px;
    width: 305px;
    padding: 15px;
    position: relative;
    bottom: 7.5px;
    right: 7.5px;
}

#preferences-form input, #preferences-form label {
    display: inline-block;
}

.open-form input {
    width: calc(50% - 2.4px);
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    font-weight: 600;
}

.open-form p, #preferences-form p {
    font-size: 0.9em;
}

#open-accept {
    background-color: #ffb411;
    color: #FFF;
    transition: all 0.3s ease;
}

#open-preferences {
    background-color: #EEE;
    border: solid 1px #ffb411;
    color: #ffb411;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#open-accept:hover {
    background-color: #ffd271;
}

#open-preferences:hover {
    border: solid 1px #ffd271;
    color: #ffd271;
}

#preference-form input {
    width: calc(50% - 2.4px);
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 0.8em;
}

#preferences-save {
    width: calc(50% - 2.4px);
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    font-weight: 600;
    background-color: #ffb411;
    color: #FFF;
    transition: all 0.3s ease;
}

#preferences-save:hover {
    background-color: #ffd271;
}