@import 'base.css';

/*------------------------------------------
Header Navigation Styling
-------------------------------------------*/

header {
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0);
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 24px !important;
    line-height: 56px;
    margin-left: 100px;
}

nav {
    text-align: right;
    width: 100%;
    height: 56px;
    font-size: 100%;
    overflow: hidden;
    display: none;
}

nav ul {
    float: none;
    list-style: none;
    font-size: 0;
    margin-right: 100px;
}

@media all and (max-width: 484px) {
    nav ul {
        margin-right: 0;
    }

    nav {
        text-align: center;
    }
}

nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    display: inline-block;
    padding: 0 20px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
}

nav ul li a:hover {
    color: #bbb;
}

nav ul li+li {
    margin-left: 0;
}

/*------------------------------------------
Hero Banner Center Content Styling
-------------------------------------------*/

.hero-container h1 {
    font-size: min(calc(36px + (60 - 36) * ((100vw - 280px) / (1260 - 280))), 60px);
    font-weight: 600;
}

.hero-container h1,
.hero-container p {
    color: white;
}

.hero-container p {
    font-size: min(calc(12px + (17 - 12) * ((100vw - 280px) / (1260 - 280))), 17px);
}

.hero-banner hr {
    width: 70px;
    margin: 22px 0;
    border-top: 3px solid papayawhip;
}

#projects-btn:hover {
    background-color: #038ed2;
}

/*------------------------------------------
Links at Bottom of Hero Styling
-------------------------------------------*/

.hero-bottom {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

i {
    font-size: 20px;
}

.bottom-hero-nav {
    text-align: center;
}

.bottom-hero-nav ul {
    margin-right: 0;
}

.hero-center-container {
    width: 480px;
}

.hero-center-container p {
    margin-bottom: 20px;
    margin-top: 0px;
}

/*------------------------------------------
Footer Styling
-------------------------------------------*/

footer {
    width: 100%;
    height: 120px;
    background-color: grey;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer {
    width: 80%;
    height: 120px;
    background-color: grey;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

li {
    display: inline;
}

.footer a {
    font-size: 20px;
}

.footer p {
    color: white;
}

.footer ul {
    margin-right: 0;
}

.footer nav {
    text-align: left;
    width: auto;
    margin-left: -15px;
}

/*------------------------------------------
Article Styling
-------------------------------------------*/

.container {
    position: relative;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: 60px;
}

figure {
    margin-top: 10px;
    width: 70%;
}




.img-center-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    margin: 0 auto;
    margin-top: 12px;
    width: 100%;
}

p {
    margin-top: 10px;
    line-height: 1.5;
    font-size: 17px;
}

.heading {
    margin-top: 60px;
    text-align: center;
    font-size: min(calc(34px + (34 - 24) * ((100vw - 280px) / (1260 - 280))), 34px);
    font-weight: 400;
}



.date {
    text-align: center;
    font-size: 16px;
    color: #555;
}

.article-p {
    margin-top: 30px;
}

.lds-ring {
    display: inline-block;
    position: fixed;
    width: 46px;
    height: 46px;
    left: calc(50vw - 23px);
    top: calc(50vh - 23px);
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 46px;
    height: 46px;
    margin: 4px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.modal {
    background-color: black;
    width: 900px;
    height: 500px;
    padding: 0;
    border: none;
}


.modal::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.mobile-nav {
    overflow: hidden;
    margin-right: 20px;
}

.mobile-nav p i {
    margin-top: 7px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.pulsating-circle {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
    height: 30px;
}

.pulsating-circle:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #01a4e9;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsating-circle:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #01a4e9;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
}

@keyframes pulse-ring {
    0% {
        transform: scale(.33);
    }

    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}


/*------------------------------------------
Media Queries
------------------------------------------*/
@media screen and (min-width: 320px) {
    .resizing-col {
        width: 100%;
    }

    .resizing-col:nth-child(n -2) {
        margin-top: 25px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    figure {
        width: 350px;
    }
}

@media screen and (min-width: 580px) {
    .resizing-col {
        width: calc(50% - 12.5px);
    }

    header h1 {
        width: 300px;
    }

    .mobile-nav {
        display: none;
    }

    nav {
        display: block;
    }
}


@media screen and (max-width: 972px) {

    .form-container,
    .contact-container {
        width: 100%;
    }

    header h1 {
        margin-left: 20px;
    }

    nav ul {
        margin-right: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .resizing-col {
        width: calc(25% - 12.5px);
    }
}

mapboxgl-canvas-container {
    margin: 0 auto;
    width: 100%;
}

mapboxgl-canvas {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}